<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery Store - {% block title %} Welcome! {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}">
</head>
<body>
<div>
    <h1>{% block myhdg %} Welcome to our online grocery store {% endblock %}</h1>
    {% block body_block %}*** {% endblock %}
</div>
<div>
    <ul>
        <li class="hbar1"><a href="http://127.0.0.1:8000/about/"> Find out about this site </a></li>
        <li class="hbar1"><a href="{% url 'myapp:items' %}"> List of items </a></li>
        <li class="hbar1"><a href = "{% url 'myapp:index'%}"> Click here to return to main page </a><br/></li>
    </ul>
</div>

{#class RegistrationForm(forms.Form):#}
{#    username = forms.CharField(max_length=50, label="Username")#}
{#    password = forms.CharField(max_length=50, widget=forms.PasswordInput, label='password')#}
{#    confirm_password = forms.CharField(max_length=50, widget=forms.PasswordInput, label='Confirm password')#}
{#    terms_accepted = forms.BooleanField(max_length=50, label="acceptedterms")#}
</body>
</html>