{% extends 'myapp/base.html' %}
{% load static %}
{% block body_block %}
<nav>
    <ul class="nav-links">
        <li><a href="{% url 'myapp:index' %}">Index</a></li>
        <li><a href="{% url 'myapp:about' %}">About</a></li>
        <li><a href="{% url 'myapp:placeorder' %}">Placeorder</a></li>
        <li><a href="{% url 'myapp:itemsearch' %}">Itemsearch</a></li>
        <li><a href="{% url 'myapp:items' %}">items</a></li>
    </ul>
</nav>

    <h1>Welcome to My Grocery Store</h1>
    <p>Session Counter: {{ request.session.session_counter }}</p>
    <p>Cookie count (10 sec): {{ visit_count }}</p>
    <!-- Logout button -->
    <a href="{% url 'myapp:logout' %}" class="logout-btn">Logout</a>
    <div>
        <h2>Toothpaste</h2>
        <img src="{% static 'myapp/images/toothpaste.avif' %}" alt="Toothpaste">
    </div>
    <div>
        <h2>Cookies</h2>
        <img src="{% static 'myapp/images/cookies.jpeg' %}" alt="Cookies">
    </div>
    
{% endblock %}